.animal-button, #moar {
    background-color: #4aaaa5;
    margin: 10px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 0px 20px;
}

#moar {
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #4aaaa5;
    color: white;
    border-radius: 8px;
}

.animal-button:hover, input[type="submit"]:hover {
    background-color: #1C403E;
}

.animal-list {
    float: left;
    padding: 15px;
}

#animal-form {
    border-bottom: 5px solid #1C403E;
}

/* .animal-image {
    position: relative;
} */

.favicon{
    position:relative;
    top:-200px;
    right:-5px;
    text-shadow: 0 0 3px #FF0000;
    z-index: 100;
}

.deleteicon{
    color: red;
    position:relative;
    top:-200px;
    right:-5px;
    z-index: 100;
}

.fa-trash-alt {
    font-size: 36px;
    margin-bottom: 5px;
}

h1 {
    color: #4aaaa5;
}

#tooltip {
    display: none;
    position: absolute;
    background: #fff;
    border: solid 1px #000;
    padding: 10px 12px;
}